html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  font-family: outfit, Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
}

h2 {
  color: hsl(0, 0%, 100%);
  margin: 5px 0;
}

.container {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 30px;
  width: 330px;
}

.hover-img {
  align-self: center;
  cursor: pointer;
  margin-top: 50px;
  opacity: 0;
  padding: 100px;
  position: absolute;
}

.hover-img:hover {
  opacity: 1;
}

.equilibrium-img {
  border-radius: 10px;
  margin-bottom: 30px;
  object-fit: cover;
}

.price-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.price,
.time-left {
  display: flex;
  gap: 10px;
}

h3 {
  color: hsl(178, 100%, 50%);
}

p {
  color: hsl(215, 51%, 70%);
}

.user-info {
  align-items: center;
  border-top: 3px solid hsl(215, 32%, 27%);
  display: flex;
  padding-top: 15px;
}

.user-info img {
  border-radius: 50%;
  border: 2px solid hsl(215, 51%, 70%);
  height: 50px;
  margin-right: 20px;
  width: 50px;
}

.user-info :last-child {
  color: hsl(0, 0%, 100%);
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 350px;
  }
}
